* {
    box-sizing: border-box;
    /* font-size: .675%; */
}

.pricing_section__container {
    background: #F7F8FA;
    border-radius: 10px;
    width: max(1209px,55rem);
    height: 823px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 150%; 
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 100%;
    padding: 4.2rem;
    margin: auto;
    
}

.pricing_section {
    display: grid;
    grid-template-columns: .7fr .33fr;
}

.pricing-section-item-one-container {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 3rem;

}

.pricing-section-item-two-container{
    padding: 3rem;
}

.pricing_heading {
    font-size: 56px;
    font-weight: 1000;
    color: #1A1C37;
    padding-bottom: 30px;
}

.pricing_info {
    font-size: 24px;
    color: #1A1C37;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-section-item-one-container-buttons {
    padding-bottom: 55px;
}

.hidden {
    display: none;
}

.active {
    padding: 8px 20px;
    background: #7950F2 !important;
    color: #FFFFFF !important;
    border: 0px solid #7950F2;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    outline: none;
    border-radius: 5px; 
    cursor: pointer;
    gap: 8px;
    align-items: center;
}

.sms-button, .mms-button {
    padding: 12px 24px;
    background-color: #F3F0FB;
    color: #7950F2;
    border: 0px solid #4B9DF0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    outline: none;
    border-radius: 5px; 
    cursor: pointer;
    gap: 8px;
    align-items: center;
}

.price-bottom-contianer{
    display: flex;
    align-items: center;
    
}

.price-bottom-item-two{
    font-size: 16px;
    /* flex-grow: 2; */
    /* padding-right: 151px; */
    /* white-space: nowrap; */
    color: #838492;
    padding-top: 15px;
    padding-left: 5px;
}

.price-bottom-item-one{
    /*padding-bottom: 20px;
    flex-grow: 2;  */
    
}

.price-display{
    font-size: 48.89px;
    font-weight: bold;    
    /* inline-size: 277px; */
    /* overflow-wrap: break-word; */
    line-height: 40px;
    margin-right: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #7950F2;
    
}

.price-bottom-item-one-heading{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.hr-container-two {
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    /*font-size: 1vw;*/
    height: 1px;
    border: 0px;
    background-color: #EBEBEE;
    margin-top: 38px;
    margin-bottom: 40px;
}

.check-one{
    display: flex;
    align-items: top;
}

.check-two{
    display: flex;
    align-items: top;
}

.check-three{
    display: flex;
    align-items: top;
}

.svg-circle-check{
    padding-top: 0px;
    padding-right: 4px;  
}

.svg-circle-check-last{
    padding-bottom: 20px;
    padding-right: 4px;
}

.sms-wrapper {
    flex-grow: 2;
}


#unitCount {
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px #1A1C37;
    margin-top: 10px;
    letter-spacing: 1px;
    padding-bottom: 25px;
    padding-left: 15px;
    font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
#unitCount::-webkit-outer-spin-button,
#unitCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#unitCount[type=number] {
  -moz-appearance: textfield;
}

.option {
    display: inline-block;
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #F7F8FA;
    background-image: none;
    font-size: 20px;

}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 95%;
    height: 50px;
    /* line-height: 2; */
    background: #F7F8FA;
    overflow: hidden;
    border-radius: 8px;
    color: #5F6276;
    padding-left: 20px;
}

.select::after {
    content: '>';
    position: absolute;
    top: 12px;
    right: 15px;
    font-weight: bold;
    padding: 0 lem;
    cursor: pointer;
    pointer-events: none;
    transform: rotate(90deg);
    color: #5F6276;
    
}

select {
    flex: 1;
    color: rgb(1, 1, 1);
    cursor: pointer;
    font-family: 'Poppins';
}

input {
    display: inline;
    border-radius: 8px;
    height: 44px;
    outline: none;
    width: 70%;
    background: #F7F8FA;
    padding-left: 20px;
    float: left;
    align-items: center;
    padding: 15px 10px;
    
}

.specify-others {
    position: relative;
    display: flex;
    width: 70%;
    height: 50px;
    /* line-height: 2; */
    background: #F7F8FA;
    overflow: hidden;
    border-radius: 8px;
    font-size: 14px;
    justify-content: start;
}

.pricing-selection-container {
    display: flex;
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 35px;
}

.container-with {
    padding: 15px 25px;
}

.option {
    font-weight: bold;
}

.price-bottom-item-one-description{
    width: max-content;
    font-size: 12px;
}
